# Ignore node_modules directory
node_modules/

# Ignore logs and debugging files
logs/
*.log
npm-debug.log*



# Ignore package-lock.json (if you're using npm)
package-lock.json

# Ignore .DS_Store (macOS system file)
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/

# Ignore testing and coverage files (optional, adjust as needed)
coverage/
test-results.xml

# Ignore files created by development tools
.nyc_output/
.cache/

# Ignore production build directories (if applicable)
dist/
build/